{% extends 'wall/base.html' %}


    {% block content %}
                <h2>  Для родителей </h2>
        <a href="{% url 'new_postParents' %}" class="top-menu"><button type="button" class="btn btn-secondary"> Создать </button></a>
        {% for post in posts %}
        <div class="post_full">
            <h3 class="caption_post"> {{post.caption}} </h3>
            <a href="/wall/post/edit/3/{{post.id}}" class="glyphicon glyphicon-pencil">  </a>
             <!--- |truncatewords:80|safe позволяет ебнуть только 80 слов в пост    ---->
            Content__:  <p class="post_text">  {{post.content|truncatewords:80|safe }}

            </p>

            <p> published: {{post.pub_date}} </p>
            <a href="/wall/post/3/{{post.id}}" class="link_read">Читать полностью ... </a>
        </div>
        {% endfor %}
    {% endblock %}