.head{
    margin: 0 0;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
    background-color: #99ccff;
    color: white;
}

.navigation{
    margin: 0 0;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    background-color: #cce6ff;
    color: white;
}

.content{
  margin: 0 0;
    padding-left: 20px;
    width: 100%;
    height: 720px;
}

.wrapper{
    margin: 0 0;
    padding-left: 20px;
    width: 100%;
    height: 100px;
    background-color: #99ccff;
    color: white;
}

h2{
 color: #FCA205;
}

.post_text{
    font-family: 'Sofia';font-size: 22px;
}